body {
    background: #88A0B4
}

.jumbotron {
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    background: #000C3F;
    color: #88A0B4;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.block {
    background: #384E73;
    color: #ffffff;
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    border-radius: 10px;
}

.bioimg {
    clear: left;
    float: left;
    margin: 10px;
    width: 200px;
    height: 200px;
}


  .sticky-footer {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      height: 60px;
      background-color: #000C3F;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      color: white;
      text-align: center;
  }
  
  

  h2 {
      font-size: 30px;
      font-family: "Arial Black", Gadget, sans-serif;
      float: left;
  }

  h5 {
      font-size: 22px;
      color: gray;
      font-family: Arial, Helvetica, sans-serif
  }

  .navbarcustom {
      position: relative;
      color: white;
      font-size: 20px;
      text-align: center;
      top: -40px;
      background: #000C3F;
      border-radius: 10px;
      
  }

  .links {
   
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .portfolio {
      text-align: center;
  }

  img:hover {
      opacity: .5;
  }


 
  